.loader-skeleton-bar-container {
  width: 100%;
  height: 10px;
  background-color: #335776;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.loader-skeleton-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #335776 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
